        <!-- --NG Content Example -->
<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <ng-content select=".card-title"></ng-content>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <ng-content select=".card-link"></ng-content>
  </div>
</div> -->

<p>signin works</p>

<div>
  <h3>Child Component</h3>
  <input type="text" [(ngModel)]="childValue" (ngModelChange)="onChildValueChange($event)"/>
</div>
