p {
  font-family: Lato;
}


mat-sidenav-content{
  height: 100%;
  width: 100%;
  position: fixed;
}
mat-sidenav-container
{
  height: 100%;
}

mat-sidenav{
   top: 0px;
   width: 200px;
   margin-top: 4rem;
   background-color: #f4f4f4;
   height: 100%;
}


/* .ex{
  background-color: red;
}
.exm{
  background-color: green;
}
exmp{
  background-color: yellow;
} */
