<div class="container">
  <div class="row">
    <h1 class="alert alert-danger text-center">ADD DATA</h1>
  </div>
  <!-- <div class="row">
<form action="">

  <div class="mb-3 row">
    <label for="Name" class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="Name" value="">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="Role" class="col-sm-2 col-form-label">Role</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" id="Role" value="">
    </div>
  </div>
  <div class="col-sm-8 d-flex justify-content-center">

    <button type="button" class="btn btn-primary">ADD</button>
  </div>




</form>
  </div> -->

  <div class="row">
    <div class="col-sm-12">
      <!-- <button class="btn btn-primary" (click)="openDialog()">Register</button>&nbsp;<button class="btn btn-info">Login</button> -->
    </div>
  </div>
</div>
