<div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Search.." #value (keyup)="filterUser(value)">
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of userData">
            <th scope="row">{{x.id}}</th>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.address}}</td>
        </tr>
    </tbody>
</table>
