<!-- <div class="navtabs-container">
  <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
    <a mat-tab-link routerLink="/" routerLinkActive #home="routerLinkActive"
    >
    Home
  </a>
  <a mat-tab-link routerLink="/accomodation" routerLinkActive #accomodation="routerLinkActive"
  >
  Accomodation
</a>
<a mat-tab-link routerLink="/food-beverage" routerLinkActive #food_beverage="routerLinkActive"
>
Food and Beverage
  </a>
    <a mat-tab-link routerLink="/lifestyle" routerLinkActive #lifestyle="routerLinkActive"
    >
    Lifestyle
  </a>
  <a mat-tab-link routerLink="/celebrations" routerLinkActive #celebrations="routerLinkActive"
  >
  Celebrations
</a>
<a mat-tab-link routerLink="/offers" routerLinkActive #offers="routerLinkActive"
>
Offers
</a>
</nav>
</div> -->

<!-- [active]="home.isActive" -->
   <!-- [active]="accomodation.isActive" -->
<!-- [active]="lifestyle.isActive" -->
<!-- [active]="celebrations.isActive" -->
<!-- [active]="food_beverage.isActive" -->
<!-- [active]="offers.isActive" -->
